/CompCatalogoLib/build/
/CompCatalogoLib/dist/
/CompCatalogo/CompCatalogo-ejb/build/
/CompCatalogo/CompCatalogo-ejb/dist/
/CompPedido/build/
/CompPedido/CompPedido-ejb/dist/
/CompPedido/CompPedido-war/build/
/CompPedido/CompPedido-war/dist/